<app-menu></app-menu>
<section>
    <span class='component-title'>[{{title}}]</span>
    <span> | <a routerLink="/user/list">Return to List</a></span>
</section>
<p *ngIf='!user'>Loading...</p>
<div *ngIf='user'>
    <main class="single">
        <table class="table table-sm">
            <!-- <tr>
                <td>
                    User Name:
                </td>
                <td>
                    <input [(ngModel)]="user.userName" class="rounded" type="text">
                </td>
            </tr> -->
            <tr>
                <td>User Name:</td>
                <td><input [(ngModel)]="user.userName" class="rounded" type="text" required>
                    <span *ngIf="!user.userName"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.userName"><img src="assets/checkmark.png" width="25"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input [(ngModel)]="user.password" class="rounded" type="text">
                    <span *ngIf="!user.password"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.password"><img src="assets/checkmark.png" width="25"></span>
                </td>
            </tr>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input [(ngModel)]="user.firstName" class="rounded" type="text">
                    <span *ngIf="!user.firstName"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.firstName"><img src="assets/checkmark.png" width="25"></span>

                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input [(ngModel)]="user.lastName" class="rounded" type="text">
                    <span *ngIf="!user.lastName"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.lastName"><img src="assets/checkmark.png" width="25"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Phone Number:
                </td>
                <td>
                    <input [(ngModel)]="user.phoneNumber" class="rounded" type="text">
                    <span *ngIf="!user.phoneNumber"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.phoneNumber"><img src="assets/checkmark.png" width="25"></span>
                
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input [(ngModel)]="user.email" class="rounded" type="text">
                    <span *ngIf="!user.email"><img src="assets/redx.png" width="25"></span>
                    <span *ngIf="user.email"><img src="assets/checkmark.png" width="25"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Note:
                </td>
                <td>
                    <span>A user can create and edit a Purchase request without Reviewer or Admin rights</span>
                </td>
            </tr>
            <tr>
                <td>
                    Reviewer: Check box for user to have Reviewer rights=>
                </td>
                <td>
                    <input [(ngModel)]="user.reviewer" class="rounded" type="checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    Administator: Check box for user to have Admin rights=>
                </td>
                <td>
                    <input [(ngModel)]="user.admin" class="rounded" type="checkbox">
                </td>
            </tr>
        </table>
    </main>
    <span>
        <button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
    </span>

</div>