<app-menu></app-menu>

<section class="heading">
    <span class="page-title font-weight-bold font-italic">{{title}}</span>
</section>

<!-- <h1 *ngIf="this.user.reviewer">No logged in user... Please login first.</h1> -->
<table *ngIf="requests && this.user.reviewer" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Date Needed</th>
            <th>Status</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.user.userName}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.dateNeeded}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total | currency}}</td>
            <td>
                <a routerLink='/request/approve/{{request.id}}'>
                    <img width='20' height='20' src='assets/review.png' title="Request Approve">
                </a>
            </td>
        </tr>

    </tbody>

</table>
<span *ngIf="!requests && user.reviewer" class="nosequestforreviewer">No requests for you to review!</span>
<span *ngIf="!user.reviewer" class="nosequestforreviewer">You do have reviewer rights!</span>